contient_articles{
    color:red;
    background-color: #1ab188;
}

.wrapper {
    max-width: 500px;
    margin: 50px auto;
    padding-left: 1em;
    padding-right: 1em;
}


.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
    box-shadow:
            0 1px 3px rgba(0,0,0, 0.12),
            0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
}

.card__padding {
    padding: 1.6rem;
}

.card__image {
    min-height: 100px;
    background-color: #eee;
}
.card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.card__content {
    position: relative;
}

.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}
.card__article a:hover {
    color: #2980b9;
}
.contient_article{
  margin: 50px auto;
  width: 75%;
  border: 12px solid gray;
  padding: 20px;
}