ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.cc {
  float: right;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 49px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

li.dropdown {
  display: inline-block;
}
