html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, html {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}
h1 {
    color: #FFF;
    margin-bottom: 40px !important;
    padding-top: 20px !important;
}
.body-container {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.editor {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
}
.editor-buttons {
    margin-bottom: 10px;
}
.editor-buttons .btn {
    cursor: pointer;
}